@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;800&display=swap');

@import 'normalize',
        '_mixins',
        '_variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Roboto Slab', serif;
    background-color: $bg-color;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 82%;
}
// ------------------------------------------------MAIN
.title {
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    // outline: 2px dashed green;
}

.main {
    // outline: 2px solid green;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 4rem auto;
    &__photo {
        width: 200px;
        border-radius: 50%;
        border: 3px solid gray;
    }
    &__person {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    &__name {
        font-size: 3rem;
    }
    &__date {
        font-size: 2rem;
        font-weight: 400;
    }
    &__contacts {
        padding-right: 2rem;
        // outline: 2px dashed orange;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    &__phone {
        &--link::before {
            content: " Phone: ";
            font-weight: 500;
            font-size: 1.8rem;
            color: #000;
        }
        &--link {
            @include hover {
                color: $link-active;
            }
        }
    }
    &__telegram {
        &--link::before {
            content: " Telegram: ";
            font-weight: 500;
            font-size: 1.8rem;
            color: #000;
        }
        &--link {
            @include hover {
                color: $link-active;
            }
        }
    }
    &__email {
        &--link::before {
            content: " Email: ";
            font-weight: 500;
            font-size: 1.8rem;
            color: #000;
        }
        &--link {
            @include hover {
                color: $link-active;
            }
        }
    }
}

a {
    text-decoration: none;
    color: $link-color;
}

.subtitle {
    @include flexCenter;
    justify-content: flex-start;
    width: 71%;
    margin: 1rem auto;
    font-size: 1.7rem;
    background-color: rgb(183, 183, 255);
    background-color: $bg-subtitle;
    border-radius: 1.5rem;
}

.subtitle-icon {
    @include flexCenter;
    margin: 0 1rem;
}

// ------------------------------------------------------- skills
.skills {
    // outline: 2px green dashed;
    @include flexCenter;
    flex-flow: row wrap;
    width: 71%;
    margin: 0 auto;
    background-image: url(../img/bg-noise.png);
    border-radius: 1rem;
    border: 2px solid;
    &__title {
        flex: 1 1 100%;
        // outline: 2px solid blue;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
    }
    &__subtitle {
        @include flexCenter;
        font-size: 2rem;
    }
    &__list {
        padding: 0 0 1rem 1rem;
        margin: 0;
        list-style: none;
        &--hard {
            flex: 1 1 50%;
            // outline: 2px dashed red;
            border-right: 1px solid;
        }
        &--soft {
            flex: 1 1 50%;
            // outline: 2px dashed orangered;
        }
    }
    &__icon {
        width: 2rem;
        margin: 0 1rem 0 0;
    }
    &__item {
        font-size: 1.9rem;
    }
}